---
title: Books
layout: default
---
<ul class="tile">
  {% for book in site.data.books %}
    <li>
      <a href="{{ book.url }}">
        <div class="thumbnail book">
          <div class="title">{{ book.title}}</div>

          <div class="price">
            {% if book.payment%}
              Paid
            {% else %}
              Free
            {% endif %}
          </div>
        </div>
      </a>
      <div class="metadata">
        <p>
          {% for person_id in book.author_ids %}
            {% include people.html %}
          {% endfor %}
        </p>
        <p>{{ book.publisher }}</p>
      </div>
    </li>
  {% endfor %}
</ul>
