---
title: Ember.js resources
layout: homepage
---
<div class="hello">
    <h1>
        Welcome to EmberWatch
    </h1>
    <p>
        EmberWatch is a community-run resource for EmberJS. Here you'll find keynotes, useful books, tutorials and more!
    </p>
</div>
<ul class="homepage">
    <li>
        <h1>Talks <a href="talks.html">View all</a></h1>
        <div class="homepage_tiles">
            <div class="wrapper">
                {% for talk in site.data.talks %}
                    <div class="tile">
                        <h6>
                            {{ talk.title }}
                        </h6>
                    </div>
                {% endfor %}
            </div>
        </div>
    </li>
    <li>
        <h1>Screencasts <a href="screencasts.html">View all</a></h1>
        <div class="homepage_tiles">
            <div class="wrapper">
                {% for screencast in site.data.screencasts %}
                    <div class="tile">
                        <h6>
                            {{ screencast.title }}
                        </h6>
                    </div>
                {% endfor %}
            </div>
        </div>
    </li>
    <li>
        <h1>Podcasts <a href="podcasts.html">View all</a></h1>
        <div class="homepage_tiles">
            <div class="wrapper">
                {% for podcast in site.data.podcasts %}
                    <div class="tile">
                        <h6>
                            {{ podcast.title }}
                        </h6>
                    </div>
                {% endfor %}
            </div>
        </div>
    </li>
    <li>
        <h1>Books <a href="books.html">View all</a></h1>
        <div class="homepage_tiles">
            <div class="wrapper">
                {% for book in site.data.books %}
                    <div class="tile">
                        <h6>
                            {{ book.title }}
                        </h6>
                    </div>
                {% endfor %}
            </div>
        </div>
    </li>
</ul>
