---
title: Podcasts
layout: default
---
<ul>
  {% for podcast in site.data.podcasts %}
    <li>
      <h5>
        <a href="{{ podcast.url }}">{{ podcast.title }}</a>
          <span class="event-name">
            {{ podcast.host }} {{ podcast.episode }}
          </span>
      </h5>
      <div class="metadata">
        {% for person_id in podcast.member_ids %}
          {% include people.html %}
        {% endfor %}
        &middot;
        {{ podcast.date | date: "%a %e %b %Y" }}
        &middot;
        {{ podcast.duration }}
      </div>
    </li>
  {% endfor %}
</ul>
