---
title: Tutorials
layout: default
---

<ul>
  {% assign tutorials_by_date = site.data.tutorials | group_by_month:"date" %}
  {% for group in tutorials_by_date %}
  <h2>{{ group.name }}</h2>
    {% for tutorial in group.items %}
    <li>
      <h5>
        <a href="{{ tutorial.urls | first }}">
          {{ tutorial.title }}
        </a>
        <a target="_blank" href="{{ tutorial.urls | first }}"><img src="/images/link-new-tab.png" style="vertical-align: bottom"></a>
      </h5>
      <div class="metadata">
        {% for person_id in tutorial.author_ids %}
          {% include people.html %}
        {% endfor %}
        &middot;
        {{ tutorial.date | date: "%a %e %b %Y" }}
        &middot;
        {% for url in tutorial.urls %}
          {% if forloop.length == 1 %}
            <a href="{{url}}">Tutorial</a>
          {% else %}
            <a href="{{url}}">Part {{forloop.index}}</a>
            {% unless forloop.last%} &middot; {% endunless %}
          {% endif %}
        {% endfor %}
   
        {% if tutorial.code %}
          &middot; <a href="{{tutorial.code}}">Code</a>
        {% endif %}
      </div>
    </li>
    {% endfor %}
  {% endfor %}
</ul>
