@font-face {
  font-family: 'AccessibilityFoundicons';
  src: font-url('accessibility_foundicons.eot');
  src: font-url('accessibility_foundicons.eot?#iefix') format('embedded-opentype'),
       font-url('accessibility_foundicons.woff') format('woff'),
       font-url('accessibility_foundicons.ttf') format('truetype'),
       font-url('accessibility_foundicons.svg#AccessibilityFoundicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class*="foundicon-"]:before {
  font-family: "AccessibilityFoundicons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}

@font-face {
  font-family: 'GeneralFoundicons';
  src: font-url('general_foundicons.eot');
  src: font-url('general_foundicons.eot?#iefix') format('embedded-opentype'),
       font-url('general_foundicons.woff') format('woff'),
       font-url('general_foundicons.ttf') format('truetype'),
       font-url('general_foundicons.svg#GeneralFoundicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.general[class*="foundicon-"]:before {
  font-family: "GeneralFoundicons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}

@font-face {
  font-family: 'SocialFoundicons';
  src: font-url('social_foundicons.eot');
  src: font-url('social_foundicons.eot?#iefix') format('embedded-opentype'),
       font-url('social_foundicons.woff') format('woff'),
       font-url('social_foundicons.ttf') format('truetype'),
       font-url('social_foundicons.svg#SocialFoundicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.social[class*="foundicon-"]:before {
  font-family: "SocialFoundicons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}

[class*="foundicon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}

/* accessibility icons */
.foundicon-wheelchair:before {
  content: "\f000";
}

.foundicon-speaker:before {
  content: "\f001";
}

.foundicon-fontsize:before {
  content: "\f002";
}

.foundicon-eject:before {
  content: "\f003";
}

.foundicon-view-mode:before {
  content: "\f004";
}

.foundicon-eyeball:before {
  content: "\f005";
}

.foundicon-asl:before {
  content: "\f006";
}

.foundicon-person:before {
  content: "\f007";
}

.foundicon-question:before {
  content: "\f008";
}

.foundicon-adult:before {
  content: "\f009";
}

.foundicon-child:before {
  content: "\f00a";
}

.foundicon-glasses:before {
  content: "\f00b";
}

.foundicon-cc:before {
  content: "\f00c";
}

.foundicon-blind:before {
  content: "\f00d";
}

.foundicon-braille:before {
  content: "\f00e";
}

.foundicon-iphone-home:before {
  content: "\f00f";
}

.foundicon-w3c:before {
  content: "\f010";
}

.foundicon-css:before {
  content: "\f011";
}

.foundicon-key:before {
  content: "\f012";
}

.foundicon-hearing-impaired:before {
  content: "\f013";
}

.foundicon-male:before {
  content: "\f014";
}

.foundicon-female:before {
  content: "\f015";
}

.foundicon-network:before {
  content: "\f016";
}

.foundicon-guidedog:before {
  content: "\f017";
}

.foundicon-universal-access:before {
  content: "\f018";
}

.foundicon-elevator:before {
  content: "\f019";
}

/* general icons */
.foundicon-settings:before {
  content: "\f000";
}

.foundicon-heart:before {
  content: "\f001";
}

.foundicon-star:before {
  content: "\f002";
}

.foundicon-plus:before {
  content: "\f003";
}

.foundicon-minus:before {
  content: "\f004";
}

.foundicon-checkmark:before {
  content: "\f005";
}

.foundicon-remove:before {
  content: "\f006";
}

.foundicon-mail:before {
  content: "\f007";
}

.foundicon-calendar:before {
  content: "\f008";
}

.foundicon-page:before {
  content: "\f009";
}

.foundicon-tools:before {
  content: "\f00a";
}

.foundicon-globe:before {
  content: "\f00b";
}

.foundicon-home:before {
  content: "\f00c";
}

.foundicon-quote:before {
  content: "\f00d";
}

.foundicon-people:before {
  content: "\f00e";
}

.foundicon-monitor:before {
  content: "\f00f";
}

.foundicon-laptop:before {
  content: "\f010";
}

.foundicon-phone:before {
  content: "\f011";
}

.foundicon-cloud:before {
  content: "\f012";
}

.foundicon-error:before {
  content: "\f013";
}

.foundicon-right-arrow:before {
  content: "\f014";
}

.foundicon-left-arrow:before {
  content: "\f015";
}

.foundicon-up-arrow:before {
  content: "\f016";
}

.foundicon-down-arrow:before {
  content: "\f017";
}

.foundicon-trash:before {
  content: "\f018";
}

.foundicon-add-doc:before {
  content: "\f019";
}

.foundicon-edit:before {
  content: "\f01a";
}

.foundicon-lock:before {
  content: "\f01b";
}

.foundicon-unlock:before {
  content: "\f01c";
}

.foundicon-refresh:before {
  content: "\f01d";
}

.foundicon-paper-clip:before {
  content: "\f01e";
}

.foundicon-video:before {
  content: "\f01f";
}

.foundicon-photo:before {
  content: "\f020";
}

.foundicon-graph:before {
  content: "\f021";
}

.foundicon-idea:before {
  content: "\f022";
}

.foundicon-mic:before {
  content: "\f023";
}

.foundicon-cart:before {
  content: "\f024";
}

.foundicon-address-book:before {
  content: "\f025";
}

.foundicon-compass:before {
  content: "\f026";
}

.foundicon-flag:before {
  content: "\f027";
}

.foundicon-location:before {
  content: "\f028";
}

.foundicon-clock:before {
  content: "\f029";
}

.foundicon-folder:before {
  content: "\f02a";
}

.foundicon-inbox:before {
  content: "\f02b";
}

.foundicon-website:before {
  content: "\f02c";
}

.foundicon-smiley:before {
  content: "\f02d";
}

.foundicon-search:before {
  content: "\f02e";
}

/* social icons */
.foundicon-thumb-up:before {
  content: "\f000";
}

.foundicon-thumb-down:before {
  content: "\f001";
}

.foundicon-rss:before {
  content: "\f002";
}

.foundicon-facebook:before {
  content: "\f003";
}

.foundicon-twitter:before {
  content: "\f004";
}

.foundicon-pinterest:before {
  content: "\f005";
}

.foundicon-github:before {
  content: "\f006";
}

.foundicon-path:before {
  content: "\f007";
}

.foundicon-linkedin:before {
  content: "\f008";
}

.foundicon-dribbble:before {
  content: "\f009";
}

.foundicon-stumble-upon:before {
  content: "\f00a";
}

.foundicon-behance:before {
  content: "\f00b";
}

.foundicon-reddit:before {
  content: "\f00c";
}

.foundicon-google-plus:before {
  content: "\f00d";
}

.foundicon-youtube:before {
  content: "\f00e";
}

.foundicon-vimeo:before {
  content: "\f00f";
}

.foundicon-flickr:before {
  content: "\f010";
}

.foundicon-slideshare:before {
  content: "\f011";
}

.foundicon-picassa:before {
  content: "\f012";
}

.foundicon-skype:before {
  content: "\f013";
}

.foundicon-steam:before {
  content: "\f014";
}

.foundicon-instagram:before {
  content: "\f015";
}

.foundicon-foursquare:before {
  content: "\f016";
}

.foundicon-delicious:before {
  content: "\f017";
}

.foundicon-chat:before {
  content: "\f018";
}

.foundicon-torso:before {
  content: "\f019";
}

.foundicon-tumblr:before {
  content: "\f01a";
}

.foundicon-video-chat:before {
  content: "\f01b";
}

.foundicon-digg:before {
  content: "\f01c";
}

.foundicon-wordpress:before {
  content: "\f01d";
}
