@import "keyframes.css";

*{
  outline:none;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

html,body{
  margin:0px;
  padding:0px;

  background:#FBFBFB;

  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

body .container{
  width:100%;
  max-width:960px;
  margin:0 auto;
  padding:0px 20px;
}

/* NAV BAR STYLING */
nav{
  background:transparent;
  height:60px;
  line-height:60px;
  width:100%;
  color:#e45036;
  overflow-y:auto; /*clearfix*/
  border-bottom:1px solid #F0F0F0;
}

nav a{
  color:inherit;
  text-decoration:none;
}

nav ul{
  margin:0px;
  padding:0px;
  list-style:none;
  float:left;
  font-weight:bold;
}

nav ul.right{
  float:right;
  font-size:14px;
}

nav ul li{
  display:inline-block; 
}

nav ul li.name h1{
  margin:0px;
  font-size:17px;

  padding-left: 48px;
  background-image: url(../images/logo.svg);
  background-position: left 20px;
  background-size: 40px auto;
  background-repeat: no-repeat;
}

nav ul li.name h1 .light{
  font-weight:normal;
}

/* CATEGORIES LIST */
ul.tabs{
  width:100%;
  margin:30px 0px;
  padding:0px;
  list-style:none;
  font-size:17px;

  padding-bottom:30px;
  border-bottom:1px solid #F0F0F0;
}

ul.tabs li{
  display:inline;
  color:#2ba6cb;
  padding:5px 0px;
  margin-right:10px;
  line-height:40px;
}

ul.tabs li.active{
  color:#FFF;
  font-weight:bold;
  background:#2ba6cb;
  border-radius:50px;
  padding:5px 10px;
}

ul.tabs li a{
  text-decoration:none;
  color:inherit;
}

/* MAIN CONTENT */
section{

}

section ul{
  margin:0px;
  padding:0px;
  list-style:none;
}

section li{
  margin-bottom:30px;
  position:relative;
}

section li.thumbnail_enabled{
  padding-left:70px;
}

section li h5{
  color:#e45036;
  font-size:17px;
  margin:0px;
}

section li h5 span{
  font-size:14px;
  font-weight:normal;
  color:#999;
  margin-left:10px;
}

section li a{
  color:inherit;
}

section li .metadata{
  font-size:14px;
  padding-top:10px;
}

section li .metadata a{
  color:#2ba6cb;
  text-decoration:none;
}

/* FOOTER */
footer{
  margin:30px 0px;
  padding-top:30px;
  border-top:1px solid #F0F0F0;
}

footer a{
  font-weight:bold;
  color:#2ba6cb;
}






/*THUMBNAILS*/

section li .thumbnail{
  position:absolute;
  top:5px;
  left:0px;
  width:60px;
  height:40px;

  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
}

section li .thumbnail.default{
  background:#F0F0F0;
}

section li .thumbnail.default:before{
  content:'http://';
  font-family:'Menlo', monospace;
  text-align:center;
  line-height:24px;

  position:absolute;
  top:50%;
  left:50%;
  height:24px;
  margin-top:-12px;
  width:50px;
  margin-left:-25px;

  font-size:10px;
}





/* VIDEO FUNCTIONALITY ON LIST ITEMS */
section li .thumbnail.video{
  /*box-shadow:inset 0px 999px 0px rgba(0,0,0,0.2);*/
}

section li .thumbnail.video:active{
  -webkit-transform:scale(0.95);
  -moz-transform:scale(0.95);
  -ms-transform:scale(0.95);
  -o-transform:scale(0.95);
  transform:scale(0.95);
}

section li .thumbnail.video:after{
  content:'';

  color: #FFF;
  background: rgba(0,0,0,0.5);
  border: none;
  border-radius: 0px;
  width:100%;
  height:100%;
  
  padding:0px;
  font-size:10px;

  position:absolute;
  top:0px;
  left:0px;

  box-shadow:0px 0px 20px #FFF;

  cursor:pointer;

  background-image: url(../images/play_icon.svg);
  background-position: center center;
  background-size: auto 10px;
  background-repeat: no-repeat;

  /* disable grey box when clicking on iOS + Android */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */
}

section li .thumbnail.video.stop:after{
  background-image:url(../images/stop_icon.svg);
  background-size: auto 8px;
}

section li .video_container{
  margin-top:20px;
  overflow-y:auto;

  margin-left:-70px;
}

section li .video_container iframe{
  float:left;
  width: 480px;
  height: 320px;
  border: none;
}

@media screen and (max-width:600px){
  section li .video_container{
    margin-left:-90px;
    margin-right:-20px;
    background:#F0F0F0;
    padding:0px 20px;
  }

  section li .video_container iframe{
    width: 100%;
    height: 240px;
  }
}


/*TILE MODE ON LIST ITEMS*/
section ul.tile{
  overflow-y:auto;

  /*whitespace fix*/
  font-size:0px;
}

section ul.tile li{
  display:inline-block;

  vertical-align:top;
  width:160px;
 
  margin-right:20px;
}

section ul.tile li.thumbnail_enabled{
  padding-left:0px;
}

section ul.tile li h5{
  margin-top:10px;
}

section ul.tile li h5 .event-name{
  display:block;
  margin:0px;
  margin-top:10px;
}

section ul.tile li .thumbnail.book{
  display:block;

  position:relative;

  width:100%;
  height:240px;

  top:auto;
  left:auto;

  background:#e45036;

  background-image: url(../images/logo.svg);
  background-position: 20px 204px;
  background-size: auto 16px;
  background-repeat: no-repeat;
}

section ul.tile li .thumbnail.book .title{
  display:inline-block;
  margin-top:30px;

  font-family:'Georgia', 'Cambria', sans-serif;
  font-size:16px;
  text-decoration:none;

  padding:20px;
  width:100%;

  color:#e45036;
  background:#F0F0F0;
}

section ul.tile li .thumbnail.book .price{

  position:absolute;
  bottom:15px;
  right:15px;

  font-size:14px;
  background:#2ba6cb;
  color:#fff;

  padding:5px 15px;

  margin-top:20px;

  display:inline-block;
  border-radius:50px;
}

section ul.tile li .metadata{
  padding-top:20px;
}

section ul.tile li .metadata p{
  font-size:15px;
  line-height:24px;
  margin:0px;
  margin-bottom:5px;
}