@-webkit-keyframes play_button_appear{
	0%{
		width:0px;
		margin-right:0px;
		opacity:0;
	}
	50%{
		width:27px;
		margin-right:5px;
		opacity:0;
	}
	100%{
		width:27px;
		margin-right:5px;
		opacity:1;
	}
}

@-moz-keyframes play_button_appear{
	0%{
		width:0px;
		margin-right:0px;
		opacity:0;
	}
	50%{
		width:27px;
		margin-right:5px;
		opacity:0;
	}
	100%{
		width:27px;
		margin-right:5px;
		opacity:1;
	}
}

@-ms-keyframes play_button_appear{
	0%{
		width:0px;
		margin-right:0px;
		opacity:0;
	}
	50%{
		width:27px;
		margin-right:5px;
		opacity:0;
	}
	100%{
		width:27px;
		margin-right:5px;
		opacity:1;
	}
}

@-o-keyframes play_button_appear{
	0%{
		width:0px;
		margin-right:0px;
		opacity:0;
	}
	50%{
		width:27px;
		margin-right:5px;
		opacity:0;
	}
	100%{
		width:27px;
		margin-right:5px;
		opacity:1;
	}
}

@keyframes play_button_appear{
	0%{
		width:0px;
		margin-right:0px;
		opacity:0;
	}
	50%{
		width:27px;
		margin-right:5px;
		opacity:0;
	}
	100%{
		width:27px;
		margin-right:5px;
		opacity:1;
	}
}