---
layout: main
---
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h4 class="recipe-sections">Recipe Sections</h4>
      <ul class="nav nav-pills nav-stacked">
      {% for section in site.data.cookbook-sections %}
        <li {% if page.cookbook-section == section.name %}class="active"{% endif %} role="presentation">
          <a href="/recipes/{{ section.section-path }}">
            {{ section.name }}
          </a>
        </li>
      {% endfor %}
      </ul>
    </div>
    <div class="col-sm-8">
      <section>
        {{ content }}
      </section>
    </div>
  </div><!-- div.row -->
</div><!-- div.container -->
