<!DOCTYPE html>

<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <meta name="description" content="Collection of resources for learning Ember.js including Videos, Talks, Slides, Tutorials, Posts and Screencasts.">
  <meta name="keywords" content="Ember.js,Ember,tutorial,screencast,video,talk,slides,post,JavaScript,MVC">
  <meta name="author" content="Philip Poots">
  <title>
    Ember.js {{ page.title }} on EmberWatch
  </title>

  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/stylesheets/application.css">

  <!-- start Mixpanel -->
  <script type="text/javascript">(function(c,a){window.mixpanel=a;var b,d,h,e;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.1.min.js';d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?
g=a[f]=[]:f="mixpanel";g.people=g.people||[];h="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config people.identify people.set people.increment".split(" ");for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.1})(document,window.mixpanel||[]);
mixpanel.init("d986d0aa139d6609419d50ff23c447c2");</script>
  <!-- end Mixpanel -->
  <script type="text/javascript">
    mixpanel.track_links("#posts dl.tabs a", "Navigation Tabs");
    mixpanel.track_links("#posts ul.tabs-content a", "Outbound Content", {'referrer': document.referrer });
    mixpanel.track_links(".top-bar .right a", "Outbound Twitter", {'referrer': document.referrer });
  </script>
</head>

<body>
  <div class="contain-to-grid">
    <nav class="top-bar">
      <ul>
        <li class="name"><h1><a href="http://emberwatch.com"><i class="foundicon-glasses"></i> Ember<span class="light">Watch</span> </a></h1></li>
        <li class="toggle-topbar"><a href="#"></a></li>
      </ul>
      <section>
        <ul class="right">
          <li><a href="http://twitter.com/emberwatch"><i class="social foundicon-twitter"></i> &nbsp;@emberwatch</a></li>
        </ul>
      </section>
    </nav>
  </div>
  <div id="posts">
    <dl class="sub-nav">
      <dd {% if page.title == 'Resources' %}class="active"{% endif %}><a href="/">Talks</a></dd>
      <dd {% if page.title == 'Screencasts' %}class="active"{% endif %}><a href="/screencasts.html">Screencasts</a></dd>
      <dd {% if page.title == 'Podcasts' %}class="active"{% endif %}><a href="/podcasts.html">Podcasts</a></dd>
      <dd {% if page.title == 'Tutorials' %}class="active"{% endif %}><a href="/tutorials.html">Tutorials</a></dd>
      <dd {% if page.title == 'Books' %}class="active"{% endif %}><a href="/books.html">Books</a></dd>
    </dl>
    {{ content }}
  </div>
  <div id="footer">
    <div class="panel">
      Submit new material to <a href="https://emberflare.com/entries/new">EmberFlare</a>
    </div>

  </div>
<script type="text/javascript" src="/javascripts/all.js"></script>
  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '50574319613f5d312700004e');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46110781-1', 'emberwatch.com');
  ga('send', 'pageview');
</script>
</body>
</html>
